
{% extends "base.html" %}
{% load static %}
{% block title %}Loja Python{% endblock %}

{% block content %}

<style>
  body {
    font-family: 'Roboto', sans-serif;
  }
    .hover-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    min-height:160px;
    position: relative;
  }
  .hover-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  .img {
    max-height: 160px;
    width: auto;
    object-fit:cover;
  }
  .price-bottom{
    margin-top: auto;
    padding-top: 60px;
  }
</style>

{% for produto in produtos %}
  <a href="{% url 'comprar_produto' produto.id %}"  class="text-decoration-none text-reset">
    <div class="container my-4">
      <div class="d-flex border rounded p-3 mb-3 bg-white hover-card" style="background-color: #fff;">
        <div class="flex-grow-1 me-3 d-flex flex-column" style="height:100%;">
          <div>
         <h2 class="fw-bold mb-1">{{ produto.nome }}</h2>
          <p class="mb-1 text-muted" style="font-size: 0.9rem;">
          {{ produto.descricao }}</p>
          </div>
          <div class="mt-auto price-bottom">
            <span class="text-success fw-bold" style="font-size:1.2rem;">R$ {{ produto.preco }}</span>
          </div>
        </div>
        {% if produto.imagem %}
        <img class="img" src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
        {% else %}
        <img src="{% static 'estoque/img/baixados.png' %}" alt="Sem imagem">
        {% endif %}
      </div>
    </div>
    </a>
{% endfor %}



{% endblock %}