{% extends "base.html" %}

{% block title %}Menu Principal{% endblock %}

{% block content %}
<div class="dashboard">
  <h1 class="dashboard-title">Painel do Sistema</h1>
  
  <div class="dashboard-cards">
    <div class="card">
    <a href="{% url 'ver_estoque' %}">  
      <h2>Total de Produtos</h2>
      <p>{{total_produtos}}</p>
      <a href="{% url 'adicionar_produto' %}" class="add-button">+</a>
      <label
      
    </a>
    </div>
    
    <div class="card">
      <a href="{% url 'ver_clientes' %}">
      <h2>Clientes Cadastrados</h2>
      <p>{{ clientes }}</p>
      
      </a>
    </div>
    <div class="card">
    <a href="{% url 'estoque_falta' %}">
      <h2>Produtos em Falta</h2>
      <p>{{produtos_emfalta}}</p>
       <a href="{% url 'adicionar_produto' %}" class="add-button">+</a>
    </a>
    </div>
     <div class="card mt-4" style="width: 1000px; max-height: 250px; overflow-y: auto;"">
      <div class="card-header text-center fw-bold"
        <a href="{% url 'ver_estoque' %}">
        <h2>Ultimas modificações</h2>
        </a>
      </div>
      <ul class="list-group list-group-flush">
        {% for produto in data_modificacao %}
        <li class="list-group-item"> <i class="bi bi-clock">[{{produto.id}}] {{produto.nome}} - {{produto.data_modificacao}}</i></li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
