{% extends "base.html" %}

{% block title %}Menu Principal{% endblock %}

{% block content %}
<div class="dashboard">
  <h1 class="dashboard-title">Painel do Sistema</h1>
  
  <div class="dashboard-cards">
    <div class="card">
    <a href="{% url 'ver_estoque' %}">  
      <h2>Total de Produtos</h2>
      <p>{{total_produtos}}</p>
      <a href="{% url 'adicionar_produto' %}" class="add-button">+</a>
      <label
      
    </a>
    </div>
    
    <div class="card">
      <a href="{% url 'ver_clientes' %}">
      <h2>Clientes Cadastrados</h2>
      <p>{{ clientes }}</p>
      
      </a>
    </div>
    <div class="card">
    <a href="{% url 'ver_estoque' %}">
      <h2>Produtos em Falta</h2>
      <p>{{produtos_emfalta}}</p>
       <a href="{% url 'adicionar_produto' %}" class="add-button">+</a>
    </a>
    </div>
  </div>
</div>
{% endblock %}
